name: Build firmware

on: push

jobs:
    build-firmware:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
          - name: Checkout code
            uses: actions/checkout@v4
          - name: Install arm-none-eabi-gcc
            uses: carlosperate/arm-none-eabi-gcc-action@v1
            with:
                release: 'latest'
          - name: Build
            id: build
            run: make BASE=arm-none-eabi
          - name: Update Release
            uses: softprops/action-gh-release@v2
            with:
                tag_name: latest-${{ github.ref_name }}
                name: "Latest Build: ${{ github.ref_name }}"
                prerelease: true
                body: "The latest build from the branch: ${{ github.ref_name }}\nCommit: ${{ github.sha }}"
                fail_on_unmatched_files: true
                files: |
                    firmware.bin
                    firmware.hex
                    firmware.upg
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
