name: Build firmware

on: push

jobs:
    build-firmware:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        container:
            image: ghcr.io/retrofun/mist-firmware-builder
        steps:
          - name: Checkout
            id: checkout
            uses: actions/checkout@v4

          - name: Build
            id: build
            run: BASE=/opt/arm-none-eabi/bin/arm-none-eabi make

          - name: Update Release
            uses: softprops/action-gh-release@v2
            with:
                tag_name: latest-${{ github.ref_name }}
                name: "Latest Build: ${{ github.ref_name }}"
                body: "The latest build from the branch: ${{ github.ref_name }}\nCommit: ${{ github.sha }}"
                fail_on_unmatched_files: true
                # prerelease: true
                files: |
                    firmware.bin
                    firmware.hex
                    firmware.upg
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
